@font-face {
    font-family: 'Nunito Sans';
    src: url('../assets/fonts/NunitoSans.ttf') format("truetype-variations");
    font-weight: 1 999;
}

:root {
    --white: #F7F8FC;
    --blue: #3751FF;
    --dark-blue: #363740;
    --medium-blue: #3E4049;
    --light-magenta: #DDE2FF;
    --grey: #A4A6B3;
    --black: #202124;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', monospace;
    background-color: var(--white);
    display: flex;
}

/* Dashboard */
.dashboard {
    min-height: 100vh;
    width: 270px;
    background-color: var(--dark-blue);
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.logo-container h1 {
    color: var(--white);
}
.logo-container svg {
    height: 65px;
    width: 65px;
}
.logo-container svg path {
    fill: var(--blue);
}

.page {
    border-radius: 5px;
    margin-left: 9px;
    margin-right: 9px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    cursor: pointer;
}
.page a {
    font-size: 18px;
    text-decoration: none;
    color: var(--grey);
}
.page svg {
    margin-right: 26px;
}
.page:hover > a {
    color: var(--light-magenta);
}
.page:hover > svg > path {
    fill: var(--light-magenta);
}

.registrar svg {
    height: 25px;
    width: 25px;
}
.registrar svg path {
    fill: var(--grey);
}

.modificar svg {
    height: 22px;
    width: 22px;
}
.modificar svg path {
  fill: var(--grey);
}

.planilla svg {
    width: 23px;
    height: 23px;
}

.page.active {
    background-color: var(--medium-blue);
}
.page.active svg path {
    fill: var(--light-magenta);
}
.page.active a {
    color: var(--light-magenta);
}


/* Main Section */
main {
    flex-grow: 1;
}

form {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-left: 10px;
}

label {
    font-size: 15px;
    font-weight: 600;
    height: 20.8px;
    color: var(--black);
    margin-bottom: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input {
    width: 200px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    color: var(--black);
    padding: 5px;
}
input:focus {
    outline: 1px solid var(--blue);
    border-color: var(--blue);
}

select {
    border: 1px solid var(--grey);
    background-color: white;
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
    height: 29.2px;
    border-radius: 5px;
    padding: 5px;
}
select:focus {
    outline: 1px solid var(--blue);
    border-color: var(--blue);
}

.column {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 30px;
}

.row {
    display: flex;
    flex-direction: row;
}




