@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Light.ttf) format("ttf"),
         url(../assets/fonts/Roboto-LightItalic.ttf) format("ttf"),
         url(../assets/fonts/Roboto-Regular.ttf) format("ttf"),
         url(../assets/fonts/Roboto-Italic.ttf) format("ttf"),
         url(../assets/fonts/Roboto-Medium.ttf) format("ttf"),
         url(../assets/fonts/Roboto-MediumItalic.ttf) format("ttf"),
         url(../assets/fonts/Roboto-Bold.ttf) format("ttf"),
         url(../assets/fonts/Roboto-BoldItalic.ttf) format("ttf");
}

:root {
    --white: #faf7fc;
    --blue: #1A73E8;
    --blue2: #1B66C9;
    --dark-blue: 	#3d3e48;
    --medium-blue: 	#444650;
    --light-magenta: #DDE2FF; 
    --grey: #DADCE0; 
    --black: #202124;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: white;
    display: flex;
}

/* Dashboard */
.dashboard {
    min-height: 100vh;
    width: 270px;
    background-color: var(--dark-blue);
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.logo-container h1 {
    color: var(--white);
}
.logo-container svg {
    height: 65px;
    width: 65px;
}
.logo-container svg path {
    fill: var(--blue);
}

.page {
    border-radius: 5px;
    margin-left: 9px;
    margin-right: 9px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    cursor: pointer;
}
.page a {
    font-size: 18px;
    text-decoration: none;
    color: var(--grey);
}
.page svg {
    margin-right: 26px;
}
.page:hover > a {
    color: var(--light-magenta);
}
.page:hover > svg > path {
    fill: var(--light-magenta);
}

.registrar svg {
    height: 25px;
    width: 25px;
}
.registrar svg path {
    fill: var(--grey);
}

.modificar svg {
    height: 22px;
    width: 22px;
}
.modificar svg path {
  fill: var(--grey);
}

.planilla svg {
    width: 23px;
    height: 23px;
}

.page.active {
    background-color: var(--medium-blue);
}
.page.active svg path {
    fill: var(--light-magenta);
}
.page.active a {
    color: var(--light-magenta);
}


/* Main Section */
main {
    flex-grow: 1;
}

form {
    width: 100%;
    height: 100%;
    padding-top: 37px;
    padding-left: 35px;
}
form h1 {
    font-size: 24px;
    color: var(--black);
    margin-bottom: 30px;
}

label {
    font-size: 15px;
    font-weight: 500;
    height: 20.8px;
    color: var(--black);
    margin-bottom: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input {
    width: 200px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    color: var(--black);
    padding: 8px;
}
input:focus {
    outline: 1px solid var(--blue);
    border-color: var(--blue);
}
input[type="date"] {
    font-family: Roboto, sans-serif;
}

select {
    border: 1px solid var(--grey);
    background-color: white;
    color: var(--black);
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    padding: 8px;
}
select:focus {
    outline: 1px solid var(--blue);
    border-color: var(--blue);
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
}

.opcional,
.pista {
    font-weight: 400;
    font-style: italic
}

.oculto {
    display: none;
}

button#submit {
    border: 1px solid var(--blue);
    border: none;
    color: white;
    background-color: var(--blue);
    padding: 12px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 0px hsl(0deg 0% 0% / 0);
    transition: box-shadow 150ms ease 0s
}
button#submit:hover {
    background-color: var(--blue2);
    box-shadow: 0.8px 1.6px 1.6px hsla(0, 0%, 0%, 0.25);
}


