@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --white: #F7F8FC;
    --dark-blue: #363740;
    --medium-blue: #3E4049;
    --light-magenta: #DDE2FF;
    --grey: #A4A6B3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', monospace;
    background-color: var(--white);
    display: flex;
}

/* Dashboard */
.dashboard {
    height: 100vh;
    width: 270px;
    background-color: var(--dark-blue);
}

.logo-container {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.logo-container h1 {
    color: var(--white);
}
.logo-container svg {
    height: 75px;
    width: 75px;
}
.logo-container svg path {
    fill: #3751FF;
}

.page {
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    height: 60px;
    display: flex;
    align-items: center;
}
.page a {
    font-size: 18px;
    text-decoration: none;
    color: var(--grey);
}
.page .outline {
    border-radius: 5px;
    width: 6px;
    height: 100%;
    margin-right: 20px;
}
.page svg {
    margin-right: 26px;
}

.registrar svg {
    height: 25px;
    width: 25px;
}
.registrar svg path {
    fill: var(--grey);
}

.modificar .outline {
    background-color: var(--dark-blue);
}
.modificar svg {
    height: 22px;
    width: 22px;
}
.modificar svg path {
  fill: var(--grey);
}

.planilla .outline {
    background-color: var(--dark-blue);
}
.planilla svg {
    width: 23px;
    height: 23px;
}

.page.active {
    background-color: var(--medium-blue);
    
}
.page.active .outline {
    background-color: var(--light-magenta);
}
.page.active svg path {
    fill: var(--light-magenta);
}
.page.active a {
    color: var(--white);
}




