@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

:root {
    --white: #F7F8FC;
    --dark-blue: #363740;
    --medium-blue: #3E4049;
    --light-magenta: #DDE2FF;
    --grey: #A4A6B3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--white);
}

/* Dashboard */
.dashboard {
    height: 100vh;
    width: 300px;
    background-color: var(--dark-blue);
}

.logo-container {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.logo-container h1 {
    color: var(--white);
}
.logo-container svg {
    height: 75px;
    width: 75px;
}
.logo-container svg path {
    fill: #3751FF;
}



.page {
    /* border: 2px solid red; */
    height: 60px;
    display: flex;
    align-items: center;
}
.page a {
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
}
.page .outline {
    width: 6px;
    height: 100%;
    margin-right: 20px;
}
.page svg {
    margin-right: 26px;
}

.registrarEmpleado {
    background-color: var(--medium-blue);
}
.registrarEmpleado .outline {
    background-color: var(--light-magenta);
}
.registrarEmpleado svg {
    height: 25px;
    width: 25px;
}

.modificarEmpleado .outline {
    background-color: var(--dark-blue);
}
.modificarEmpleado svg {
    height: 22px;
    width: 22px;
}
.modificarEmpleado svg path {
  fill: var(--grey);
}
.modificarEmpleado a {
    color: var(--grey);
}

.registrarPlanilla .outline {
    background-color: var(--dark-blue);
}
.registrarPlanilla svg {
    width: 23px;
    height: 23px;
}
.modificarEmpleado svg path {
    fill: var(--grey);
}
.registrarPlanilla a {
    color: var(--grey);
}


